body{
background-color: plum;
}
h1{
    font-family: 'Amaranth', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    font-size:40px;

}
.steps{
    font-family: 'Amaranth', sans-serif;
    font-size: large;

}
.calc{
    padding-left: 12px;
   }